{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input type="text" autofocus class="form-control mx-auto w-auto" name="symbol" autofocus autocomplete="off" placeholder="Symbol">
        </div>
        <div class="mb-3">
            <input type="number" autofocus class="form-control mx-auto w-auto" name="shares" autocomplete="off" placeholder="Shares">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
